body {
	background-image: url(../images/background2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
}	


.player-pic {
	width: 100%;
	height: auto;
	
}
.character-diplay {
	
	width: 100%;
}
#player {
	width: 19%;
	display: inline-block;
	
}
#kuja {
	height: 300px;
	width: auto;
}
#garnet {
	height: 260px;
	width: auto;
	
}
.enemies-display {
	width: 100%;
}
.enemies {
	width: 24.5%;
	height: auto;
	display: inline-block;
}

#beatrix {
	width: auto;
	height: 267px;
}

#zidane{
	width: auto;
	height: 251px;
}

#vivi {
	width: auto;
	height: 233px;
}
.chosen-row {
	float: none;
	margin: 0 auto;
}